.git
.gitignore
.venv
venv
__pycache__
*.py[cod]
*.egg-info

node_modules
frontend-tracker/node_modules
ux-test-platform/node_modules

recorded_sessions
logs

.DS_Store
docker-desktop*

frontend-tracker/dist
frontend-tracker/build
ux-test-platform/dist
ux-test-platform/build
